body{
    background-color: #F4F4F4;
    
    /* Body Text Styles */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgb(65, 65, 65);
   
 
}
/* Logo content */
.logoName{
    margin: 40px;
    /* setting the maximun witdh of thje DIV */
    max-width: 900px;
    /* These 3 setup is needed to centre align content widhin DIV*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text content */
socialicons p{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

/* Filter gallery content */
.GalleryFilter{
    padding: 50px;
}

filter lu {
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.galleryImage{
    padding: 50px;
}
